/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Original Code */
html, body
{
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  font-family: 'Lato', sans-serif;
}
.container {
  position: relative;
}
.main {
  margin-top: -100px;
  background: url('your_verse_hero.jpg') 50% 100%  no-repeat;
  height: 640px;
}
.navbar {
  position: absolute;
  top: 13%;
  left: 13%;
  height: 33px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.navbar li {
  background: radial-gradient(#555, #666, #777);
  display: inline-block;
  float:left;
  border-top: 1px solid #555;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  line-height: 35px;
  height: 35px;
  width: 50px;
  padding: 0 26px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 13px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.navbar li:first-child {
  border-radius: 5px 0 0 5px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
}
.navbar ul {
  vertical-align: middle;
  display: inline-block;
}
.search {
  float: right;
  display: inline-block;
  padding: 0 20px;
  background: radial-gradient(#555, #666, #777);
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  height: 35px;
  border-radius: 0 5px 5px 0;
}
.search input {
background: radial-gradient(#555, #666, #777);
border: 1px solid #444;
border-radius: 8px;
height: 16px;
width: 120px;
font-size: 12px;
padding: 10px 5px 10px 25px;
position: relative;
top: 7px;
}
.search input:focus {
  outline: none;
}
span {
  color: #fff;
  position: relative;
  right: 115px;
  top: 9px;
}
.ion-social-apple {
  font-size: 24px;
  padding-top: 5px
}
/* Main text */
.main-text {
  position: absolute;
  top: 32%;
  left: 19%;
  text-align: center;
  font-weight: 100;
  color: #fff;
  word-spacing: 2px;
}
#heading {
  font-size: 60px;
  padding-bottom: 10px;
}
#subheading-1 {
  font-size: 32px;
  line-height: 1.3;
}
#subheading-2 {
  padding-top: 34px;
}
#subheading-link {
  font-size: 24px;
  color: #fff;
}
#subheading-2 a {
  text-decoration: none;
}
#subheading-2 a:hover {
  text-decoration: underline;
}
#play-btn {
  margin: 0 10px;
  height: 30px;
  width: 30px;
  border-radius: 40px;
  border: 1px solid #fff;
  background-color: rgba(232, 232, 232, 0.2);
}
.ion-ios-play-outline {
  color: #fff;
  font-size: 22px;
  padding-left: 2px;
}
/* Promos */
.secondary {
  height: 205px;
  margin-left: 3px;
}
.secondary ul {
  text-align: center;
}
.promo {
  margin-left: -3px;
  width: 25%;
  overflow: hidden;
  display: inline-block;
}
.thumbnail {
  padding: 2px 2px;
  margin-left: -20px;
}
/* Footer */
.footer {
  height: 80px;
  width: 1000px;
  position: absolute;
  left: 15%;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}
.footer li {
  display: inline;
  border-right: 1px solid #bbb;
  padding: 0 6px;
  vertical-align: middle;
}
.footer a {
  text-decoration: none;
  color: #08c;
}
.footer a:hover {
  text-decoration: underline;
}
.footer p {
  color: #888;
}
.footer img {
  width: 20px;
  vertical-align: middle;
}
.footer li:last-child {
  border: none;
}

.footer-left {
  display: inline-block;
  padding: 20px 0;
}
.footer-right {
  float: right;
  padding: 20px 0;
}
.clear-left {
  clear: left;
}
.clear-left p {
  display: inline-block;
}
.terms-right {
  display: inline-block;
}
